/*
#f4fe00
FF8C00
23bbe6
*/
/*overall*/
@font-face {
    font-family: "Moonhouse";
    src: url(../fonts/krunch_bold.ttf) format("truetype");
}

h1,h2,h3,h4,h5,title{
    font-family: "AtlasGroteskWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
}
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
}

h2{
    color:#23bbe6;
    font-size: 40px;
    font-weight: bold;
}

h3{
    color:#f4fe00;
    font-weight: bold;
    font-size:32px;
}
h4{
    color:#FF8C00;
    font-weight: bold;
    font-size:24px;
}

body{
    background-color: black;
}
tbody, thead{
    color:white;
    font-family: Arial;
    font-size:20px;
}
#colname, #colname1{
    color:whitesmoke;
}

h6{
    font-family: Arial;
    font-size: 22px;
    text-align: justify;
    color: #FFFFCC;
    line-height: 1.2;
}
a .page-scroll{
    font-family: 'Roboto', sans-serif;
}
.objective{
    color: gray;
}

.col-xs-4 {
    display: inline-block;
}
nobr{
    color: dimgray;
}

#story_start_text, #story_team{
    height:180px;
    width:900px;
}

/* navbar */
.navbar .navbar-right{
    background-color: rgba(247,247,247,0.4); /* #f7f7f7*/
    text-shadow:none;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 18px;

}

.navbar-brand{
    position: relative;
}


.navbar-brand h1{
    position: relative;
    top:-28px;
    font-weight: 900;
}

.navbar .navbar-right ul li a{
    color:white;
}

.navbar .navbar-right ul li a:hover{
    background-color: rgba(247,247,247,0.5);
}

.top-nav-collapse{
    background-color:orange;
}
.top-nav-collapse .navbar-right{
    background-color:orange ;
}
.top-nav-collapse .navbar-right ul li a{
    color: #ffffff;
}

.top-nav-collapse .navbar-right ul li a:hover{
    background-color: darkorange;
}
.top-nav-collapse .navbar-right ul li a:active{
    background-color: darkorange;
}
.top-nav-collapse .navbar-right ul li a:visited{
    background-color: darkorange;
}
.top-nav-collapse .navbar-brand h1{
    color:#ffffff ;
}
/* section */
section{
    margin:0 50px 0 0;
    padding-top:50px;
}


/*intro*/
div .web-title{
    position: relative;
    top:-160px;

}

div .web-title h1{
    font-family: 'Moonhouse', monospace;
    font-size:50px;
    font-weight: bold;
    top:-100px;
}

.span-color1{
    color:darkorange;
}

.span-color2{
    color:#f4fe00;
}
#webpage-title{
    font-size:100px;
}

h2#teammates{
    color:#ffffff;
    font-family: 'Moonhouse', monospace;
    font-size:28px;
}


/* intro */

.intro {
    width:100%;
    position:relative;
    background: url(../img/back6.jpg) no-repeat top center;
}

#intro.intro {
    height:1080px;
    padding:20% 0 0 0;
}

.intro .slogan {
    text-align: center;

}

.intro .page-scroll {
    text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}


table{
    text-align: center;
}

.table-hover > tbody > tr:hover {
    background-color: #23bbe6;
}

b {
    color: #FFA500;
}


#validation-cards-div input{
    height:240px;
}


